<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Delivery Marketplace</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["LoginRole"] == null)
                {
                    @Html.ActionLink("Delivery Marketplace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Delivery Marketplace", "Index", "Bookings", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Session["LoginRole"] != null && Session["LoginRole"].ToString() == "Admin")
                    {
                        <li>@Html.ActionLink("Booking List", "Index", "Bookings")</li>
                        <li>@Html.ActionLink("Users List", "Index", "Users")</li>
                        <li>@Html.ActionLink("Products", "Index", "Products")</li>
                        <li>@Html.ActionLink("Feedback", "Index", "Feedbacks")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        <li><a href="#">Welcome : @Session["LoginUserName"]</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    @if (Session["LoginRole"] != null && Session["LoginRole"].ToString() == "User")
                    {
                        <li>@Html.ActionLink("Booking List", "Index", "Bookings")</li>
                        <li>@Html.ActionLink("Users List", "Index", "Users")</li>
                        <li>@Html.ActionLink("Feedback", "Index", "Feedbacks")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        <li><a href="#">Welcome : @Session["LoginUserName"]</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    @if (Session["LoginRole"] != null && Session["LoginRole"].ToString() == "Driver")
                    {
                        <li>@Html.ActionLink("Booking List", "DriverBookingList", "Bookings")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        <li><a href="#">Welcome : @Session["LoginUserName"]</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    @if (Session["LoginRole"] == null || Session["LoginUserName"].ToString().ToLower() == "false" || Session["LoginUserName"].ToString().ToLower() == "")
                    {
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    }
                    else
                    {
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhls-da9D0msVDFKeK67XsCYLSX9exk5M"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
