@model IEnumerable<DeliveryMarketplace.Models.Feedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["LoginRole"].ToString() == "User")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback1)
        </th>
        <th>
            @Html.DisplayName("Action:")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback1)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.FeedbackID })
            </td>
        </tr>
    }

</table>
