@model DeliveryMarketplace.Models.Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedback1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedback1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
